API_KEY=your_api_key
BASE_URL=https://ai.api.cloud.yandex.net/v1
MODEL=yandexgpt/rc
FOLDER_ID=your_folder_id

RAG_DB_DIR=db
RAG_NEIGHBOR_RADIUS=1
RAG_MAX_CONTEXT_CHARS=30000
RAG_USE_RERANKER=1
LOG_RERANKER_IO=1
LOG_RAG_CONTEXT=1

HOST=0.0.0.0
PORT=8000
OPEN_BROWSER=0
